.show-md {
  display: block;
}
.flex-1 {
  flex: 1;
}
.nav-active {
  background-color: #cbd5e0;
}
.loader-screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 5;
}
.loader {
  position: absolute;
  top: 36%;
  left: 48%;
  translate: transform(-50%, -50%);
  z-index: 10;
}
/* circular loader */
.circularLoader {
  transform: rotateZ(0);
  animation: circularLoaderAnimation 1s ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  color: #1815dd;
}
.inline-block {
  display: inline-block;
}
.mr-2 {
  margin-right: 2px;
}
.short-desc {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.show-less-btn {
  display: inline-block;
  cursor: pointer;
  color: #6c6d6d;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  margin-top: 8px;
  transition: color 300ms ease-in-out;
}
.show-less-btn:hover {
  color: #303131;
}
/* comment form */
.comment-form-container {
  display: flex;
  margin: 20px auto 0 auto;
}
.comment-form-container .comment-input {
  width: 100%;
  padding: 6px 12px;
  border-bottom: 1px solid #cdcbcb;
  outline: none;
}
.comment-form-container button {
  cursor: pointer;
  padding: 6px 10px;
  font-weight: 700;
  color: #88e1f5;
  transition: color 300ms ease-in-out;
}
.comment-form-container button:hover {
  color: #25caef;
}
.dlt-btn {
  color: red;
  padding: 0 2px;
  font-weight: 600;
  cursor: pointer;
}
.truncate-1 {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.truncate-3 {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/* circular loader animations */
@keyframes circularLoaderAnimation {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@media screen and (min-width: 541px) {
  .show-md {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .hide-md {
    display: none;
  }
}
